body{height: 60%;
width: 80%;
//text-align: center;
margin-left: 10%;
}
.h{margin-right: 70%;
border: #000000;
}
.heade{border-bottom:solid #A9A9A9 1px;
}
.sec{float: left;
	width: 70%;
height: 80%;
//border-right:solid #A9A9A9 1px;
border-bottom:solid #A9A9A9 1px;}
.smacic{height: 20px;
width: 20px;;}
.sec_p{
border-right:solid #A9A9A9 1px;}
.sec_p1{
border-bottom:solid #A9A9A9 1px;
}
aside{float: left;
width: 29%;}
.aside_table td{width: 350px;
//border: solid #A9A9A9 1px;
}
.aside_img_word{float: left;
width: 100px;
height: 100px;margin-right: 10px;}
.aside_table tr td{border-bottom: solid #A9A9A9 1px;}
footer{clear: all;
text-align: center;
border-top: solid #A9A9A9 1px;}